/** @format */

.section1BGImg {
  background: url('../../../assets/section1BgImg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(50%);
}
