/** @format */

.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 500px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides {
  display: flex;
  width: calc(100%);
  animation: slide 12s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}
